.contacts{
border:1px solid white;
width: 500px;
  height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#con{
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactspan>p>span{color:orangered}

.contactspan{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.contactspan>p{
    padding-bottom: 20px;
}
.ico{
    width: 100%;
    color: white;
    display: flex;
   justify-content:space-evenly;
}
.ico img{
    height: 40px;
    width: 40px;
    background-color: orangered;
    border-radius: 50%;
}