@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oleo+Script&display=swap');

.topcontent{
    display: flex;
    flex-direction:row;
    color:white;
    height: 90vh;
    width:100vw;
}

.profileimg{
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width: 100%;
}
.inner{
    height:420px;
    width:320px;
}

.profileimg>div>img{
    height:420px;
    width:320px;
    border-radius:70px 20px;
}
.topcontent-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%
 }

.topcontent-container>p{
    letter-spacing: 1px;
    text-align:left;
    padding-top: 20px;
}
.topcontent-container>a>button{
    border-radius: 3px;
    border:none;
    margin-left: 5px;
}
.topcontent-container>h1{
    font-size: 40px;
    font-family:"Montserrat",sans-serif;
}
.linkbutt{
 color:white;
 background-color: orangered;
 font-size: 14xpx;
 padding: 10px 30px;
 font-weight: 300;
 cursor: pointer;
 margin-right: 20px;
 font-family:"Montserrat",sans-serif;
 margin-top: 20px;
}
.downloadbutt{
    color:white;
    background-color: orangered;
    font-size: 14xpx;
    padding: 10px 30px;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
    font-family:"Montserrat",sans-serif;
    margin-top: 20px;
}
.linkbutt:hover{
    background-color: white;
    color: black;
}
.downloadbutt:hover{
    background-color: white;
    color: black;
}
.span{
    margin-top: 20px;
}

.ico{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
   padding:20px;

  
}
.ico1{
    flex:1;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.ico2{
    flex:1;
    display: flex;
    justify-content:flex-start;
    margin-left: 40px;
}
.ico>div>a> img{
    height: 40px;
    width: 40px;
    background-color:rgb(219, 235, 234);
    border-radius: 50%;

}
.git:hover{
    height: 45px;
    width: 45px;
    background-color:rgb(219, 235, 234);
    border-radius: 50%;transition-duration: 2s;
}
.link:hover{
   transition-duration: 2s;
    height: 45px;
    width: 45px;
    background-color:rgb(219, 235, 234);
    border-radius: 50%;
}
.About{
    width:75%;
}
p{
    text-align: justify;
}