.en{
    height:100px;
    width:120px;
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border:1px solid white;
}
.en:hover{
  background-color: orangered;
}
.exp{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}
.ex{

    display: flex;
    padding:50px 0;
    flex-direction: row;
}