.skillcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:200px 0;
}
.skillimg{
    flex:0.1;
    margin-right:50px;
}
.skillcontainer-text{
color: white;
flex:0.6;
max-width: 500px;
margin-bottom: 20px;
}
.skillcontainer-skillset>h5
{
    padding-top:30px;
    padding-bottom: 10px;

}
.skillimg>img{
    width:500px;
    border-radius:75px;
    object-fit: contain;
}
.skillcontainer-slider>.MuiLinearProgress-colorPrimary{
    background-color:rgb(185, 174, 174);
   
}
.skillcontainer-slider1 .css-5xe99f-MuiLinearProgress-bar1
{
    background-color:orangered;
}
.skillcontainer-slider2 .css-5xe99f-MuiLinearProgress-bar1
{
    background-color:orangered;
}
.skillcontainer-slider3 .css-5xe99f-MuiLinearProgress-bar1
{
    background-color:orangered;
}
.skillcontainer-slider4 .css-5xe99f-MuiLinearProgress-bar1
{
    background-color:orangered;
}